@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
@import 'variables.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: $bodyColor;
    color: $whiteColor;
    justify-content: center;
    align-items: center;
    font-family: 'Overpass', sans-serif;

    .first-page {
        display: flex;
        width: 330px;
        flex-direction: column;
        height: 330px;
        justify-content: space-around;
        color: rgb(218, 216, 216);

        p {
            font-weight: 400;
            color: rgb(153, 149, 149);
            font-size: 14px;
            line-height: 20px;  
        }

        img {
            width: 15px;
            margin-left: 20px;
        } 

        .myButton {
            background-color:#fa9820;
            border-radius:28px;
            border:1px solid $whiteColor;
            display:inline-block;
            cursor:pointer;
            color:#e0dbaa;
            font-family:Arial;
            font-size:17px;
            padding:16px 31px;
            text-decoration:none;
            text-shadow:0px 1px 0px $whiteColor;
            text-align: center;
            width: 100%;
            height: 50px;
        }
        .myButton:hover {
            background-color:#ffffff;
            color:orange;
            font-weight: bold;
        }
        .myButton:active {
            position:relative;
            top:1px;
        }
    
        .all {
            display: flex;
            justify-content: space-around;
            width: 100%;
            height: 80px;
            align-items: center;
            color: rgb(153, 149, 149);

            .one, .two, .three, .four, .five {
                display: flex;
                width: 40px;
                height: 40px;
                justify-content: center;
                align-items: center; 
            } 
           
            div:hover {
                background-color: rgb(117, 116, 116);
                border-radius: 20px;
                color: #fff;
            } 
        }
    }

    .second-page {
        display: none;
    }
}

.first-page-none {
    display: none;
}

.second-page-flex {
    display: flex;
    width: 330px;
    flex-direction: column;
    height: 330px;
    justify-content: space-around;
    color: white;
    align-items: center;

    .icon-back{
        width: 40px;
        position: absolute;
        top: 0;
        right: 0; 
        margin: 10px;
    }
    .icon-back:hover{
        background-color: gray;
        border-radius: 50%; 
    }

    img {
        width: 160px;
    }

    p:nth-child(3) {
        font-size: 12px;
        color: hsl(25, 88%, 62%);
        font-weight: 400;
    }

    p:nth-child(4) {
        font-size: 20px;
        font-weight: 700;
    }

    p:nth-child(5) {
        text-align: center !important;
        color: rgb(141, 137, 137);
        font-size: 14px;
        line-height: 20px;
    }

}

.four12{
    background-color: orange;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center; 
    border-radius: 20px;
}
 