$bodyColor: #000;
$whiteColor:#fff;
$orangeBotonColor:hsl(25, 97%, 53%);
$hoverGrayColor:rgb(119, 116, 116);
$textGrayColor:rgb(141, 137, 137);

// - White: hsl(0, 0%, 100%)
// - Light Grey: hsl(217, 12%, 63%)
// - Medium Grey: hsl(216, 12%, 54%)
 